<%- include('header') -%>





    <div class="container-fluid mt-4">

        <div class="form-container">

            <h4>UPDATE CATEGORY</h4>

           
            <div class="container w-50 border mt-5">
                <form class="mt-5" action="/updatecategorypost/<%=data._id%>" method="post">
                    <div class="mb-3">
                        <label for="UrunID" class="form-label">CATERGORY NAME</label>
                        <input value="<%= data.category %>" name="categoryname" type="text" class="form-control" id="UrunID" >
                        <p id="email-error" class="text-danger"></p>
                    </div>
                    <% if(locals.message){%>
                      <div class="text-danger">
                        <%=message%>
                      </div>
                      <% }%>
    
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-md w-25 mb-2  btn-submit">
                            Update
                        </button>
                    </div>
                </form>




    </div>

 
    <script>

        document.addEventListener('DOMContentLoaded', function () {
          document.querySelector('form').addEventListener('submit', async function (event) {
      
           
            var emailInput = document.querySelector('input[name="categoryname"]');
      
           
            var emailErrorMessage = document.getElementById('email-error');
      
            // Reset error messages
            emailErrorMessage.style.display = 'none';
           
            if (emailInput.value.trim() === '') {
              emailErrorMessage.innerText = 'category cannot be empty';
              emailErrorMessage.style.display = 'block';
              event.preventDefault(); // Prevent form submission
           
         
                    }
          });
      
      
        });

        </script>
      



    <%- include('footer') -%>