<%- include('header')  -%>

 


  
<nav class="navbar navbar-expand-lg bg-dark py-4 border-bottom">
    <div class="container-fluid d-flex justify-content-between">
        <div class="mb-2">
            <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
      <a class="navbar-brand ms-4 mb-4" href="/userpage"><img id="teslalogomain" src="../img/gucci.png" alt=""></a>
  
        </div>
  
        <div class="collapse navbar-collapse ms-5" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
          <a href="/profileget" style="text-decoration: none;">
            <svg xmlns="http://www.w3.org/2000/svg" height="23" width="20"
                viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                <path fill="#a5a9b1"
                  d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
              </svg>
             <span>
  profile          </span>
                </li>
                <li class="ms-5 nav-item nav-item-secondary">
                    <a href="/getwishlist" style="text-decoration: none;">
            <svg xmlns="http://www.w3.org/2000/svg" height="23" width="23"
            viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
            <path fill="#cfd1d3"
              d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z" />
          </svg>
                        <span>Wishlist</span>
                    </a>
                </li>
                <li class="ms-5 nav-item nav-item-secondary">
                    <a href="/cartget" style="text-decoration: none;">
            <svg xmlns="http://www.w3.org/2000/svg" height="23" width="23"
            viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
            <path fill="#d7dce5"
              d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
          </svg>
                        <span>Your Cart</span>
                    </a>
                </li>
                <li class="ms-5 nav-item nav-item-secondary">
                    <a class="" style="text-decoration: none; " onclick='openConfirmDeleteModal("/logout")'>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
  
        <!-- Search Form -->
       
    </div>
  </nav>




<div class="container-fluid d-flex p-0">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-4 col-lg-2 col-sm-4 d-md-block sidebar custom-border   ">
        <div class="position-sticky">
            <!-- Profile Photo -->
            <div class="text-center mt-3">

                     
                        <img src="/img/dp.jpg" alt="Default Profile Photo" class="img-fluid rounded-circle"
                            style="width: 80px; height: 80px;">
                   
            </div> <br>
            <ul class="nav flex-column " style="font-size: 18px; font-weight: bold;">
                <li class="nav-item mt-4">
                    <a class="nav-link text-dark" href="/profileget">
                        Profile
                    </a>
                </li>
                <li class="nav-item mt-4">
                    <a class="nav-link text-dark" href="/addressget">
                        Address
                    </a>
                </li>
                <li class="nav-item mt-4">
                    <a class="nav-link text-primary" href="/ordersget">
                        Orders
                    </a>
                </li>

                <li class="nav-item mt-4">
                    <a class="nav-link text-dark" href="/walletget">
                        wallet
                    </a>
                </li>


                <li class="nav-item mt-4">
                    <a class="nav-link text-dark" href="/userpage">
                        Home Page
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    

    <div class="container col-md-8 col-lg-10">
        <div class="maindiv overflow-scroll table-responsive" style="max-height: 84vh; overflow-x: auto; max-width: 100%;">
            <table class="table table-bordered table-hover" style="width: 100%; margin-left: auto; margin-right: auto;">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <th>Order Date</th>
                        <th>Action</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(userorder && userorder.length > 0) { %>
                        <% userorder.forEach((val, index) => { %>
                            <% val.products.forEach((newval, index) => { %>
                                <tr>
                                    <td><%- newval.product %></td>
                                    <td><%- newval.quantity %> </td>
    
                                    <%
                                        let noofproducts = val.products.length
                                        var discount = (parseInt(newval.discount)) / noofproducts
                                        const calculatedprice = (newval.price * newval.quantity) - discount
                                    %>
    
                                    <td><%- calculatedprice %></td>
                                    <td><%- newval.status %></td>
    
                                    <%
                                  

                                    const formattedDate = new Date(val.orderdate).toLocaleDateString('en-US', {
                                      weekday: 'short' , month: 'short' , day: 'numeric' , year: 'numeric'
                                    });
                                  
                                    const formattedTimeIST = new Date(val.orderdate).toLocaleString('en-IN', {
                                      timeZone: 'Asia/Kolkata',
                                      hour: 'numeric' , minute: 'numeric' , hour12: true
                                    });
                                  %>
                                    <td><%= formattedDate %> <%= formattedTimeIST %></td>
                                    <td>
                                        <% if (newval.status !== 'Delivered' && newval.status !== 'Cancelled' && newval.status !== 'Returned') { %>
                                            <% if (newval.status !== 'Cancelled') { %>
                                                <button onclick="openConfirmDeleteModal('/ordercancel/<%- newval.productid %>/<%- val._id %>')" class="btn btn-danger">Cancel Order</button>
                                            <% } %>
                                        <% } %>
    
                                        <% if (newval.status == 'Delivered') { %>
                                            <button onclick="openConfirmDeleteModal('/orderreturn/<%- newval.productid %>/<%- val._id %>')" class="btn btn-danger">Return</button>
                                        <% } %>
                                    </td>
                                    <td><a class="btn btn-primary" href="/vieworder/<%- newval.productid %>/<%- val._id %>">View</a></td>
                                </tr>
                            <% }) %>
                        <% }) %>
                    <% } %>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
    



      
		<script>
			function openConfirmDeleteModal(url) {
			$('#confirmDeleteModal').modal('show')
			$('#confirmDeleteBtn').click(function() {
				window.location.href = url
			});
		}
		</script>




    
    
    <!-- Modal HTML -->
	<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
	aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="confirmDeleteModalLabel">order</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Are you sure want to Cancel the order?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">no</button>
				<button type="button" class="btn btn-danger" id="confirmDeleteBtn">yes</button>
			</div>
		</div>
	</div>
	</div>


    <style>
        .inputplus{
            width: 10px;
        }
              
		.navbar-nav .nav-item a {
			color: white !important;
		}
    </style>
    


    <style>
        #sidebar {
           
           background-color: #848181d7;
           height: 100vh;
       }

       body {
 


 overflow: hidden;



}

       .maindiv {

           background-color: #ffffff9d;
           height: 100vh;

       }

       #sidebar a.nav-link:hover {
           color: #3883f4 !important;
       }
        
    </style>
		
	






<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



  <%- include('footer')  -%>


